/* div.page {
    padding-top: 4rem;
} */

div.avatar {
    text-align: center;
    padding-bottom: 1rem;
}

a:link, a:visited {
    color: black;
    text-decoration-line: underline;
}

div.block {
    padding-bottom: .5rem;
    padding-top: 1rem;
    border-bottom: .5px solid black;
}

div.news{
    visibility: hidden;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1080;
}

div.sidebar{
    padding-top: 8rem;
}

div.page {
    padding-top: 3rem;
    height: 100rem;
}