/* div.page {
    padding-top: 4rem;
} */

div.avatar {
    text-align: center;
}

a:link, a:visited {
    color: black;
    text-decoration-line: underline;
}

a.nav-link:link, a.nav-link:visited{
    text-decoration-line: none;
}

div.block {
    padding-bottom: .5rem;
    padding-top: 1rem;
    border-bottom: .5px solid black;
}

div.news{
    visibility: hidden;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1080;
}

div.sidebar{
    padding-top: 8rem;
}

div.page {
    padding-top: 3rem;
}

div.footer {
    padding-top: 10rem;
}

ul.nav {
    padding-top: 2rem;
}

div.contact {
    padding-top: 1rem;
}

.language {
    text-align: center;
}

.chinese {
    font-family: 'Ma Shan Zheng', cursive;
}

@font-face {
  font-family: 'Ma Shan Zheng';
  font-style: normal;
  font-weight: 400;
  src: url(/static/css/NaPecZTRCLxvwo41b4gvzkXaRMQ.ttf) format('truetype');
}
